* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.wrapper {
  max-width: 62rem;
  margin: 0 auto;
}
.configurable-carousel {
  background-color: rgb(231, 231, 231);
  padding: 1rem;
}
@import "./components/Carousel/style.scss";
@import "./components/dataStyle.scss";
@import "./components/Navbar/style.scss";
